.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background: #fff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 90%;
  max-height: 90%;
  overflow: none;
  position: relative;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.3s ease;
}

.modal img {
  width: 60%;
  height: auto;
  border-radius: 8px;
  margin-top: 5%;
  margin-bottom: 1rem;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 1024px) {
  .modalContent {
    padding: 1.5rem;
    max-width: 90%;
  }

  .modalInfo {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }

  .closeButton {
    font-size: 1.75rem;
  }
}

/* Celulares */
@media (max-width: 600px) {
  .modalContent {
    padding: 1rem;
    max-width: 95%;
  }

  .modalInfo {
    font-size: 0.95rem;
  }

  .closeButton {
    font-size: 2rem;
    top: 0.5rem;
    right: 0.5rem;
  }
}
